
@model NimapProjectUsingADO.net.Models.Productt

<h1> createdata</h1>

@using (Html.BeginForm("Create", "Productt", FormMethod.Post))

    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.ProductName)
        @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
    </div>

    

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryName)
        @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.CategoryId, "Select Category", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>


<br />
@TempData["Message"]

