@model IEnumerable<NimapProjectUsingADO.net.Models.Productt>

@{
    ViewBag.Title = "Product List";
    var pager = ViewBag.Pager;
}
<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Productt" asp-action="Index" asp-route-pg="@pge"> @pge </a>
                </li>
            }
        </ul>
    }
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>CategoryId</th>
            <th>CategoryName</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.ProductId })">Edit</a> |
                    <a href="@Url.Action("Delete", new { id = item.ProductId })">Delete</a>
                </td>
            </tr>
        
        
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-primary">Create New Product</a>
